<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{css/style.css}"/>
    <title>MovieDB Shenanigans - Search</title>
</head>
<body>
<main>
    <form th:action="@{/search-movie}" method="get">
        <input class="field" type="query" name="query" placeholder="Search" required>
        <input class="button" type="submit" value="Search">
    </form>

    <div class="results" th:if="${queryTrigger}">
        <p class="error" th:if="${#lists.isEmpty(myMovies)}">No movies matching search found</p>
        <table th:if="${not #lists.isEmpty(myMovies)}">
            <thead>
            <tr>
                <!--                            <th>Movie ID</th>-->
                <th>Titles that match</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="movie : ${myMovies}" th:object="${movie}">
                <!--                            <td th:text="*{id}"></td>-->
                <td th:text="*{title}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>